0.0.0.0

realip cloudflare

browse

fastcgi / 127.0.0.1:9000 php

rewrite / {
            if {path} not_match (/usr/|/admin/)
            to /index.php{uri}
        }

on startup php-fpm7

log stdout
